.frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: var(--semi-color-bg-0);
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .topNav {
    flex-shrink: 0;
    align-self: stretch;
    height: 60px;

    .semiIconsSemiLogo {
      color: var(--semi-color-text-0);
      font-size: 36px;
    }

    .navFooter {
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
      column-gap: 16px;
      color: var(--semi-color-text-2);
      font-size: 20px;

      .headerIcon {
        color: var(--semi-color-text-2);
        font-size: 20px;
        cursor: pointer;
        transition: color 0.2s;

        &:hover {
          color: var(--semi-color-text-0);
        }
      }

      .avatar {
        flex-shrink: 0;
        width: 32px;
        height: 32px;
        cursor: pointer;
      }

      .userInfo {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        gap: 8px;
      }
    }
  }

  .main {
    display: flex;
    flex: 1;
    align-items: stretch;
    align-self: stretch;
    overflow: hidden;

    .sideNav {
      flex-shrink: 0;
      width: 240px;
      height: 100%;

      .navIcon {
        width: 20px;
        height: 20px;
      }
    }

    .content {
      flex: 1;
      padding: 24px;
      overflow: auto;
      height: 100%;
    }
  }
}
